<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data数据类型</title>
</head>
<script src="js/vue.js"></script>
<body>

<div id="app">
    <p>{{msg.toUpperCase()}}</p>
    <p>数字为:{{number * 29}}</p>
    <p>用户名:{{user.username}}, 密码:{{user.password}}</p>
    <ul v-for="(value,index) in arr">
        <li style="list-style-type: none">{{index+1}}: {{value}}</li>
    </ul>

    <!--  遍历对象  -->
    <span v-for="(value, key, index) in user">
        {{key}}: {{value}}: {{index}}
    </span>
    <hr>
    <!-- 遍历数组中的对象   -->
    <ul v-for="(value, index) in users" :key="index">
        <li>{{index+1}}: {{value.username}}: {{value.password}}</li>
    </ul>
</div>


<script>
    new Vue({
        el: "#app",
        data: {
            msg: "我们lgd是不可战胜的",
            number: 20,
            user:{
                "username":"kulo","password":"123456"
            },    // 对象
            arr: ["北京", "广州", "上海", "成都"],
            // 数组中包含对象
            users: [{"username": "aka", 'password': "1515"},{"username": "hero", password: "231123"}]


        },

    })
</script>

</body>
</html>